body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Montserrat,tahoma,sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center, center;
    background-position-y: center, center;
    background-image: linear-gradient(rgba(8, 15, 26, 0.59), rgba(17, 17, 46, 0.46)), url(../img/default.jpg);
}

.wrapper {
    padding: 0 5%;
}

.controls {
    padding: 40px 0;
    justify-content: space-between;
}

.controls, .controls__buttons, .controls__search, .weather__today, .weather__days, .langs, 
.temperature, .day-wrapper, main {
    display: flex;
}

main {
    align-items: center;
    justify-content: space-between;
}

.weather {
    width: 70%;
    max-width: 750px;
}

.button {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.refresh {
    width: 44px;
    background:rgba(180, 184, 187, 0.4) url(../img/refresh-bg.png) no-repeat bottom;
    border-radius: 5px;
}

.langs {
    margin: 0 10px;
    height: 44px;
    border-radius: 5px;
}

.temperature {
    border-radius: 5px;
}

.langs div, .temperature div {
    width: 44px;
    background-color: rgba(174, 181, 185, 0.5);
}

.temperature {
    background-color: rgba(174, 181, 185, 0.5);
}

.refresh:hover, .droplist:hover, .temperature div:hover, div.active, .search-button:hover, .langs div:hover {
    background: rgba(76,82,85,.7);
}

.temperature-fahrenheit, #en {
    border-radius: 5px 0 0 5px;
}

.temperature-Ñelsius, #be {
    border-radius: 0 5px 5px 0; 
}

.search-input {
    width: 274px;
    height: 44px;
    padding: 15px 13px;
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-right-width: 0;
    border-radius: 5px 0 0 5px ; 
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    outline: none;
}

.search-input::placeholder {
    color: #FFFFFF;
    font-size: 14px;
}

.search-button {
    width: 101px;
    background: rgba(174, 181, 185, 0.5);
    border-radius: 0 5px 5px 0; 
}

.location {
    font-size: 44px;
}

.current-degrees {
    font-size: 250px;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.date, .current-details, .day-week, .coordinates {
    font-size: 22px;
}

.day-degrees {
    font-size: 80px;
}

.current-icon {
    width: 200px;
    height: 200px;
    margin-top: -50px;
}

.current-details {
    margin-bottom: 5px;
}

.day-icon {
    width: 80px;
    height: 80px;
}

.weather__today .degree {
    font-size: 180px;
}

.day-wrapper .degree {
    font-size: 80px;
}

.wind, .feel {
    display: inline-flex;
}

#map {
    width: 100%;
    height: 300px;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 77% 88%, 0px 88%);
    border-radius: 20px 20px 0px 0px;
    max-width: 350px;
}

.mapbox {
    width: 30%;
}

.mapboxgl-ctrl-logo {
    display: none;
}

.mapboxgl-ctrl-bottom-right>.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
    display: none;
}

@media (max-width: 1019px) {
    main {
        flex-direction: column;
    }

    .weather {
        width: auto;
    }

    .mapbox {
        margin-top: 27px;
        width: auto;
    }

    .mapboxgl-canvas, #map {
        width: 300px;
    }

    .coordinates {
        margin-bottom: 27px;
    }
}

@media (max-width: 767px) {
    .controls {
        align-items: center;
        flex-direction: column;
    }
    
    .controls__search {
        margin-top: 27px;
    }

    .weather__days {
        flex-direction: column;
        align-items: center;
    }

    .current-degrees {
        font-size: 120px;
    }

    .weather__today .degree {
        font-size: 90px;
    }

    .weather__today, .weather__info {
        width: 350px;
        align-items: center;
        margin: 0 auto;
    }

    .location {
        font-size: 32px;
    }

    .date {
        font-size: 16px;
    }

    .current-icon {
        width: 120px;
        height: 120px;
    }
    
    .search-input {
        width: 250px;
    }
}

@media (max-width: 375px) {
    .search-input {
        width: 184px;
    }

    .current-details {
        font-size: 16px;
    }

    .current-degrees {
        font-size: 80px;
    }

    .weather__today, .weather__info {
        width: 310px;
    }

    .day-icon {
        width: 80px;
        height: 80px;
    }

    .weather__days {
        margin-top: 20px;
    }
}