body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', tahoma, sans-serif;
    user-select: none;
}

.start-screen, .results { 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

.button {
    background-color: #ae6687;
    border: none;
    border-radius: 3px;
    padding: 7px 40px;
    margin: 0 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    outline: none;
}

.button:hover, div.chosen:hover {
    background-color: #cc769d;
}

.start-screen p {
    margin: 32px;
}

label {
    font-size: 1.5rem;
    color: grey;
}

input {
    padding: 5px;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
}

.game__content {
    padding: 20px 0;
}

.game__menu {
    display: flex;
    justify-content: space-between;
}

.game__field{
    width: 875px;
    height: 350px;
    border: 1px solid #dad8d8;
    background-position: center center;
    background-size: cover;
}

.row {
    height: 35px;
    display: flex;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}

.game__words {
    width: 875px;
    height: 35px;
    border: 1px solid #dad8d8;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.word {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    box-sizing: border-box;
    background-color: #dad8d8;
    cursor: pointer;
}

.game__buttons {
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}

.correct {
    background: #b3deb8;
}

.wrong {
    background: #dea3a3;
}

.options {
    display: flex;
}

.option {
    width: 30px;
    background-color: #c6c5c5;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

.option:hover {
    background-color: #dad8d8;
}

.option img {
    width: 20px;
    height: 20px;
}

.sound, .translation {
    margin-left: 8px;
}

.game__hints {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hint__translation {
    width: 875px;
    color: grey;
    text-align: center;
    margin: 2px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}

.hint__dynamic {
    width: 26px;
    filter: invert(15%) sepia(0%) saturate(0%) hue-rotate(154deg) brightness(88%) contrast(87%);
    cursor: pointer;
}

.chosen {
    background-color: #ae6687;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}

.active {
    filter: invert(45%) sepia(12%) saturate(1523%) hue-rotate(280deg) brightness(100%) contrast(90%);
}

.results__content {
    width: 510px;
    height: 540px;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    color: grey;
    text-align: left;
}

.dont-know > div, .know > div {
    display: flex;
    align-items: center;
}

.dont-know img, .know img {
    width: 20px;
    height: 20px;
}

.results__phrases {
    height: 330px;
    overflow-y: scroll;
}

.results__phrases p{
   cursor: pointer;
}

.results__phrases .hint__dynamic {
    margin-right: 10px;
}

.results__button {
    display: flex;
    justify-content: center;
}

.results__button .button-continue {
    margin-top: 20px;
}

.picture-info {
    color: grey;
    align-items: center;
    justify-content: center;
}

.results__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results__picture img {
    width: 100px;
    height: 60px;
}

.results__picture img {
    margin: 8px 0;
}