body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', tahoma, sans-serif;
}

.start-screen { 
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

.button {
    background-color: #ae6687;
    border: none;
    border-radius: 3px;
    padding: 7px 40px;
    margin: 0 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    outline: none;
}

.button:hover, div.chosen:hover {
    background-color: #cc769d;
}

p {
    margin: 32px;
}

label {
    font-size: 1.5rem;
    color: grey;
}

input {
    padding: 5px;
    text-align: center;
}

.game {
    display: flex;
    justify-content: center;
}

.game__content {
    padding: 20px 0;
}

.game__menu {
    display: flex;
    justify-content: space-between;
}

.game__field{
    width: 875px;
    height: 350px;
    border: 1px solid #dad8d8;
}

.row {
    height: 35px;
    display: flex;
}

.game__words {
    width: 875px;
    height: 35px;
    border: 1px solid #dad8d8;
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.word {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    box-sizing: border-box;
    background-color: #dad8d8;
}

.game__buttons {
    display: flex;
    justify-content: center;
}

.none {
    display: none;
}

.correct {
    background: #b3deb8;
}

.wrong {
    background: #dea3a3;
}

.options {
    display: flex;
}

.option {
    width: 30px;
    background-color: #c6c5c5;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

.option:hover {
    background-color: #dad8d8;
}

.option img {
    width: 20px;
    height: 20px;
}

.sound, .translation {
    margin-left: 8px;
}

.hint__translation {
    color: grey;
    text-align: center;
}

.chosen {
    background-color: #ae6687;
}

.hidden {
    visibility: hidden;
}