html, body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #d3217414;
}

header {
    background-color: rgb(211, 33, 116);
}

h1 {
    margin: 0;
    padding: 19px 0;
    text-align: center;
    color: white;
}

main {
    position: relative;
    height: 620px;
}

.wrapper {
    box-sizing: border-box;
    max-width: 1064px;
    padding: 0 40px;
    margin: 0 auto;
}

.search {
    margin-top: 30px;
    position: relative;
    display: flex;
}

.search__input {
    height: 31px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgb(197, 194, 194);
    outline: none;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 5px 3px;
    padding: 8px 55px;
    font-size: 20px;
    color: grey;
}

.search__input:hover, .search__input:focus {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.button-delete {
    background-image: url(../img/delete.png);
    background-color:white;
    height: 33px;
    width: 33px;
    background-repeat: no-repeat;
    background-size: 33px;
    border: none;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 150px;
    outline: none;
    cursor: pointer;
    transition-duration: .6s;
}

.button-delete:hover, .button-keyboard:hover {
    transform: scale(1.1);
}

.button-keyboard {
    background-image: url(../img/keyboard.png);
    background-repeat: no-repeat;
    background-size: 54px;
    position: absolute;
    right: 94px;
    top: 9px;
    height: 30px;
    width: 53px;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition-duration: .6s;
}

.button-search {
    background-color: rgb(211, 33, 116);
    color: white;
    border-radius: 5px;
    color: #fff;
    border: none;
    margin-left: 5px;
    padding: 0px 20px;
    outline: none;
    cursor: pointer;
}

.button-search:hover {
    background-color: #d32174c7;
}

footer {
    background-color: rgb(211, 33, 116);
    color: white;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a:hover, .info a:hover {
    color: rgb(197, 194, 194);
}

.github {
    position: relative;
}

.github::before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    left: -40px;
    top: -4px;
    background-image: url(../img/github.svg);
    background-size: 30px;
}

/* slider */
.swiper-container {
    max-width: 984px; /* 80%*/
    height: 79%;
    cursor: grab;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.swiper-button-next, .swiper-button-prev {
    color: rgb(211, 33, 116);
    outline: none;
}

.swiper-button-next {
    right: 40px;
    left: auto
}

.swiper-button-prev {
    left: 40px;
    right: auto;
}
/*
main>.swiper-pagination-bullets {
    bottom: 16px;
    left: 0;
    width: 100%;
}

main>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-bullet-active {
    background-color: rgb(211, 33, 116);
    outline: none;
}*/

.poster {
    padding-top: 0;
    object-fit: cover;
    height: 415px;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info a{
    color: black;
}

.year {
    padding-top: 10px;
}

.messages {
    text-align: center;
    margin: 13px 0;
    height: 15px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
    right: 194px;
    top: 5px;
    margin: 1px auto;
    font-size: 3px;
    position: absolute;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(211, 33, 116, 0.79);
    border-right: 1.1em solid rgba(211, 33, 116, 0.79);
    border-bottom: 1.1em solid rgba(211, 33, 116, 0.79);
    border-left: 1.1em solid #d3217445;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.none {
    display: none;
}

.container {
    width: 710px;
    z-index: 10;
    position: absolute;
    top: 33%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.keyboard {
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    margin: 0 auto;
    padding: 5px;
    border: grey solid 2px;
    border-radius: 5px;
    background-color: rgb(221, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keyboard__row {
    display: flex;
    justify-content: space-between;
}

.keyboard__button {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px 1px rgba(154, 150, 150, 0.81);
}

.keyboard__button:hover {
   color: white;
   box-shadow: inset -7px 7px 11px 3px rgba(154, 150, 150, 0.81);
}

#Backspace, #CapsLock {
    width: 55px;
}

#Tab{
    width: 50px;
}

#Space {
    width: 200px;
}

#ShiftLeft {
    width: 55px;
}

#ShiftRight {
    width: 49px;
}

#Enter {
    width: 60px;
}

.pressed {
    color: rgb(204, 204, 204);
    transform: scale(1.08);
    transition: all 0.2s ease-in-out;
    box-shadow: none;
}

@media (max-width: 1119px) {
    .swiper-container {
        max-width: 784px; 
    }
}

@media (max-width: 940px) {
    .swiper-container {
        max-width: 684px; 
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
}

@media (max-width: 767px) {
    .search__input {
        padding-right: 8px;
    }
    .swiper-container {
        max-width: 300px; 
    }
    .button-keyboard, .button-delete, .container {
        display: none;
    }
    .loader {
        right: 100px;
    }
}

@media (max-width: 374px) {
    .messages {
        height: auto;
    }
    .button-search {
        margin-top: 10px;
        padding: 10px 20px;
        height: 49px;
    }
    main {
        height: 700px;
    }
    .swiper-container {
        height: 500px;
    }
    .loader {
        right: 5px;
    }
    footer .wrapper, .search {
        flex-direction: column;
        align-items: center;
    }
    h3 {
        margin: 8px 0;
    }
}